Repository tamaskr/crowdsourced-network-metrics, pull requests merged in 2022-11, with the labels that each got.

#29 Report endpoint
  package-lock.json
  packages/backend/package.json
  packages/backend/src/constants.ts
  packages/backend/src/index.ts
  packages/backend/src/utils/validation.ts
Labels: backend

#32 Measurements endpoint
  packages/backend/src/generator.ts
  packages/backend/src/index.ts
  packages/backend/src/types/measurement.ts
  packages/backend/src/types/measurements.ts
  packages/backend/src/utils/random.ts
Labels: backend

#53 Basic operator app setup
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/operator-app/package-lock.json
  packages/operator-app/package.json
  packages/operator-app/src/components/layout/index.tsx
  packages/operator-app/src/components/layout/styles.ts
  packages/operator-app/src/components/navBar/index.tsx
  packages/operator-app/src/pages/_app.tsx
  packages/operator-app/src/pages/index.tsx
  packages/operator-app/src/services/queries.ts
  packages/operator-app/src/theme/default.ts
  packages/operator-app/src/types/measurement.ts
Labels: operator-app

#52 User tutorial
  packages/metrics-app/app.json
  packages/metrics-app/package-lock.json
  packages/metrics-app/package.json
  packages/metrics-app/src/App.tsx
  packages/metrics-app/src/components/Tutorial.tsx
  packages/metrics-app/src/utils/tutorialText.ts
Labels: metrics-app

#60 Measurement history
  packages/backend/src/index.ts
  packages/metrics-app/package-lock.json
  packages/metrics-app/package.json
  packages/metrics-app/src/App.tsx
  packages/metrics-app/src/components/HistoryCard.tsx
  packages/metrics-app/src/screens/HistoryScreen.tsx
  packages/metrics-app/src/screens/HomeScreen.tsx
  packages/metrics-app/src/services/backend.ts
  packages/metrics-app/src/theme/colors.ts
  packages/metrics-app/src/types/measurement.ts
  packages/metrics-app/src/utils/asyncStorage.ts
  packages/operator-app/src/pages/index.tsx
Labels: metrics-app

#74 Operator app statistics chart
  packages/operator-app/.eslintrc.json
  packages/operator-app/package-lock.json
  packages/operator-app/package.json
  packages/operator-app/public/favicon.ico
  packages/operator-app/src/components/charts/statistics/index.tsx
  packages/operator-app/src/components/charts/statistics/styles.tsx
  packages/operator-app/src/components/charts/statistics/tooltip/index.tsx
  packages/operator-app/src/components/loading/index.tsx
  packages/operator-app/src/components/loading/styles.ts
  packages/operator-app/src/components/navBar/index.tsx
  packages/operator-app/src/pages/index.tsx
  packages/operator-app/src/pages/query/index.tsx
  packages/operator-app/src/pages/statistics/index.tsx
  packages/operator-app/src/types/chart.ts
  packages/operator-app/src/types/measurement.ts
  packages/operator-app/src/utils/chart.ts
Labels: operator-app
